version: '3.8'
services:
  app:
    build:
      context: .
      target: deploy-dev
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=development
